.experience {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  flex-direction: column;
}

.card {
  display: flex;
  background-color: #1d1f20;
  color: white;
  border-radius: 12px;
  padding: 0;
  margin-bottom: 30px;
  width: 90%;
  max-width: 1300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  height: auto;
  transition-duration: 0.3s;
}

.card:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease-in-out;
}

.picture {
  flex: 1;
  height: auto;
}

.work-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-logo-UAEU {
  background-color: white;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.workInfo {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.position {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
}

.company {
  font-size: 20px;
  font-weight: bold;
  color: #b3b3b3;
  margin: 5px 0;
}

.timeFrame {
  font-size: 14px;
  color: #6c757d;
  margin: 5px 0;
}

.tasks {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

.skills {
  font-size: 14px;
  color: #8e8e8e;
  margin-top: 10px;
}
