body {
    font-family: Quicksand;
    margin: 0;
    position: relative; /* for absolute positioning context */
  }
  p {
    margin: 0;
  }
  
  button {
    cursor: pointer;
  }
  
  select {
    cursor: pointer;
  }
  
  input, select, button {
    font-family: Quicksand, sans-serif;
  }
  .container {
    overflow: auto; /* or scroll */
    height: auto; /* Avoid fixed heights unless necessary */
  }
  