* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  overflow: hidden;
}

.info {
  position: relative;
  z-index: 1; /* Ensure this is above the Particle background */
  text-align: center;
}

.hi {
  font-size: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #fcfcfc;
}

.name {
  font-size: 30px;
  margin-left: 10px;
  display: inline-block;
  font-weight: bold;
}

.wave {
  font-size: 30px;
  margin-left: 5px;
}

.into{
  margin-right: 5px;
}
.typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.github:hover #arm {
  transform-origin: bottom right;
  animation: moveArm 1s infinite alternate;
}

@keyframes moveArm {
  0% {
      transform: rotate(10deg);
  }
  100% {
      transform: rotate(-10deg);
  }
}

.linkedin:hover .linkedin-icon rect {
  animation: rect-up 0.3s linear infinite;
}

@keyframes rect-up {
  50% {
      y: 10px;
      height: 11px;
  }
  0% {
      y: 13px;
      height: 8px;
  }
}

.linkedin:hover .linkedin-icon circle {
  animation: bounce 0.4s linear infinite;
}

@keyframes bounce {
  0% {
    cy: 4px;
  }
  50% {
    cy: 4px;
  }
  75% {
    cy: 8px;
  }
  100% {
    cy: 4px;
  }
}



/*Social icons*/
.github-icon {
  fill: #fff;
}
:root {
  --link-size: 64px;
  --trans-props: all 0.2s ease;
  --link-size-footer-b: 40px;
  --link-size-footer-s: 30px;
}

a.socialicon {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.social-icons {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.socialicon{
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size);
  height: var(--link-size);
  background-color: #000000;
  margin: 8px;
  border-radius: 50%;
  box-shadow: 2px 5px 5px var(--shadow-col);
  text-decoration: none;
  transition: var(--trans-props);
  justify-content: center; 
  align-items: center;    
}
.socialicon i {
  margin: auto;
  font-size: 24px;
  z-index: 1;
  transition: var(--trans-props);
}

.kaggle i {
  margin: auto;
  font-size: 24px;
  z-index: 1;
  transition: var(--trans-props);
}

.socialicon.kaggle{
  color:var(--col-icon-kaggle);
}

.socialicon:after {
  content: "";
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  transform: translate(0, var(--link-size));
  border-radius: 50%;
  transition: var(--trans-props);
  
}

.socialicon.kaggle:hover {
  background-color: #41aff3;
  box-shadow: var(--kaggle);
}

.resume{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


