* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  overflow: hidden;
}

.info {
  position: relative;
  z-index: 1; /* Ensure this is above the Particle background */
  text-align: center;
}

.hi {
  font-size: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #fcfcfc;
}

.name {
  font-size: 30px;
  margin-left: 10px;
  display: inline-block;
  font-weight: bold;
}

.wave {
  font-size: 30px;
  margin-left: 5px;
}

.into{
  margin-right: 5px;
}
.typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
}